---
import ButtonLink from "../components/elements/ButtonLink.astro";
import Logo from "../components/elements/Logo.astro";
import LogoGrid from "../components/elements/LogoGrid.astro";
import Main from "../components/elements/Main.astro";
import PlainButtonLink from "../components/elements/PlainButtonLink.astro";
import ChevronIcon from "../components/icons/ChevronIcon.astro";
import CallToActionSimpleCentered from "../components/sections/CallToActionSimpleCentered.astro";
import FaqsAccordion from "../components/sections/FaqsAccordion.astro";
import PlanComparisonTable from "../components/sections/PlanComparisonTable.astro";
import PricingHeroMultiTier from "../components/sections/PricingHeroMultiTier.astro";
import TestimonialTwoColumnWithLargePhoto from "../components/sections/TestimonialTwoColumnWithLargePhoto.astro";
import { contactCta } from "../config/about";
import { pricing, pricingPage } from "../config/pricing";
import { faqs, faqsHeadline, featuredTestimonial, logos } from "../config/shared";
import Layout from "../layouts/Layout.astro";
---

<Layout title={pricingPage.seo.title} description={pricingPage.seo.description}>
  <Main>
    <PricingHeroMultiTier
      id="pricing"
      headline={pricingPage.headline}
      subheadline={pricingPage.subheadline}
      periods={pricing.periods}
      tiers={pricing.tiers}
    >
      <LogoGrid slot="footer">
        {logos.map((logo) => <Logo src={logo.src} width={logo.width} height={logo.height} />)}
      </LogoGrid>
    </PricingHeroMultiTier>

    <PlanComparisonTable plans={pricing.tiers.map((tier) => tier.name)} features={pricing.comparison} />

    <TestimonialTwoColumnWithLargePhoto id="testimonial" testimonial={featuredTestimonial} />

    <FaqsAccordion id="faqs" headline={faqsHeadline} items={faqs} />

    <CallToActionSimpleCentered id="call-to-action" headline={contactCta.headline} subheadline={contactCta.subheadline}>
      <div slot="cta" class="flex items-center gap-4">
        <ButtonLink href={contactCta.primaryCta.href} size="lg">{contactCta.primaryCta.label}</ButtonLink>

        <PlainButtonLink href={contactCta.secondaryCta.href} size="lg">
          {contactCta.secondaryCta.label} <ChevronIcon />
        </PlainButtonLink>
      </div>
    </CallToActionSimpleCentered>
  </Main>
</Layout>
