---
import type { HTMLAttributes } from "astro/types";
import type { Image } from "../../config/shared";
import Container from "../elements/Container.astro";
import Heading from "../elements/Heading.astro";
import Text from "../elements/Text.astro";

type Props = HTMLAttributes<"section"> & {
  headline: string;
  subheadline: string;
  photo: Image;
};

const { headline, subheadline, photo, class: className, ...rest } = Astro.props;
---

<section class:list={["py-16", className]} {...rest}>
  <Container class="flex flex-col gap-16">
    <div class="flex flex-col gap-32">
      <div class="flex flex-col items-start gap-6">
        <slot name="eyebrow" />
        <Heading class="max-w-5xl">{headline}</Heading>
        <Text size="lg" class="flex max-w-3xl flex-col gap-4">
          <p>{subheadline}</p>
        </Text>
        <slot name="cta" />
      </div>
      <div class="overflow-hidden rounded-xl outline -outline-offset-1 outline-black/5 dark:outline-white/5">
        <img
          src={photo.src}
          alt={photo.alt}
          width={photo.width}
          height={photo.height}
          class="not-dark:bg-white/75 dark:bg-black/75"
        />
      </div>
    </div>
    <slot name="footer" />
  </Container>
</section>
