---
import type { Testimonial } from "../../config/shared";
import Section from "../elements/Section.astro";

type Props = {
  id?: string;
  headline: string;
  subheadline: string;
  items: Testimonial[];
};

const { id, headline, subheadline, items } = Astro.props;
---

<Section id={id} headline={headline} subheadline={subheadline}>
  <div class="grid grid-cols-1 gap-2 sm:grid-cols-2 lg:grid-cols-3">
    {
      items.map((testimonial) => (
        <figure class="flex flex-col justify-between gap-10 rounded-md bg-olive-950/2.5 p-6 text-sm/7 text-olive-950 dark:bg-white/5 dark:text-white">
          <blockquote class="relative flex flex-col gap-4 *:first:before:absolute *:first:before:inline *:first:before:-translate-x-full *:first:before:content-['“'] *:last:after:inline *:last:after:content-['”']">
            <p>{testimonial.quote}</p>
          </blockquote>
          <figcaption class="flex items-center gap-4">
            <div class="flex size-12 overflow-hidden rounded-full outline -outline-offset-1 outline-black/5 *:size-full *:object-cover dark:outline-white/5">
              <img
                src={testimonial.avatar}
                alt=""
                class="not-dark:bg-white/75 dark:bg-black/75"
                width={160}
                height={160}
              />
            </div>
            <div>
              <p class="font-semibold">{testimonial.name}</p>
              <p class="text-olive-700 dark:text-olive-400">{testimonial.byline}</p>
            </div>
          </figcaption>
        </figure>
      ))
    }
  </div>
</Section>
